* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  text-align: center;
  font-size: 2.2rem;
  margin: 3rem 0 4rem;
}
main .our-team h2 {
  font-size: 2.5rem;
  padding: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}
main .portfolio {
  border-radius: 30px;
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 1rem 2.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
main .portfolio .img-div {
  margin: 2rem auto 1rem;
}
main .portfolio .img-div img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
main .portfolio .member-info {
  /* text-align: center; */
}
main .portfolio .member-info .name {
  font-size: 1.5rem;
  letter-spacing: 3px;
}
main .portfolio .member-info .job {
  font-size: 1rem;
  margin-bottom: 1rem;
}
main .portfolio .member-info .about {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
main .portfolio .buttons .btn {
  background-color: #fff;
  border: none;
  font-size: 1.5rem;
  color: #00f;
  margin-bottom: 1rem;
}
main .portfolio .buttons .random-btn {
  background-color: #880808;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
}
