* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  text-align: center;
  font-size: 2.2rem;
  margin: 3rem 0 4rem;
}
main .our-team h2 {
  font-size: 2.5rem;
  padding: 2rem;
  text-align: center;
  margin-bottom: 3rem;
  font-family: "Cinzel", serif;
}
main .portfolio {
  border-radius: 30px;
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 1rem 2.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
main .portfolio .img-div {
  position: relative;
  margin: 2rem auto 1rem;
}
main .portfolio .img-div .badge {
  position: absolute;
  top: 2rem;
  left: -0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  width: 40px;
  height: 40px;
  background-color: #00f;
  color: #fff;
  z-index: 1;
  border-radius: 50%;
}
main .portfolio .img-div img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
main .portfolio .member-info .name {
  font-size: 1.5rem;
  letter-spacing: 3px;
  font-family: "IBM Plex Mono", monospace;
}
main .portfolio .member-info .job {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-family: "Cardo", serif;
  font-style: italic;
  font-weight: 700;
  color: #333;
}
main .portfolio .member-info .about {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding: 0 3.3rem;
  font-family: "Kalam", cursive;
}
main .portfolio .buttons {
  user-select: none;
}
main .portfolio .buttons .btn {
  background-color: #fff;
  border: none;
  font-size: 1.5rem;
  color: #057812;
  margin-bottom: 1rem;
  cursor: pointer;
}
main .portfolio .buttons .random-btn {
  background-color: #880808;
  color: #fff;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
